<%- include('partials/projHeader') %>

<section class="coverimg">
    <div id="banner" class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
            <h1 class="display-4"><strong>Crow Magazine</strong></h1>
            <p class="lead"></p>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div id="intro" class="col mt-5 px-5">
                <p><em>April 2020</em></p>
                <!-- <p>Languages: Javascript, HTML, CSS</p> -->
                <p>
                    Crow Magazine is part of my final project for my Spring 2020 Literary Magazine class. Students were tasked to
                    create a fictious magazine and design a mock print cover or website to advertise it. Naturally, I opted to design 
                    and develop a website. I created a static website using the <strong>Bootstrap 4</strong> library and implemented
                    the <strong>RESTful routes</strong>. This is the first website I coded on my own after completing the Web Developer
                    Bootcamp Course on Udemy.
                </p>
                <a href="https://github.com/jadessechan/lit-mag">https://github.com/jadessechan/lit-mag</a>

                <hr>
            </div>    

            <div id="footer" class="col-3 d-none d-md-block"></div>
        </div>
    </div>

</section>


<%- include('partials/footer') %>
