    <footer>
        <div class="container-fluid">
            <div id="socials" class="row">
                <!-- <div class="d-flex justify-content-start">

                </div> -->
                <a class="d-flex justify-content-start" href="https://github.com/jadessechan" target="_blank" rel="noopener noreferrer">
                    <img src="https://itsjafer.com/icons/github.svg" alt="">
                </a>

                <a class="d-flex justify-content-start" href="https://www.linkedin.com/in/jadessechan3142117a/" target="_blank" rel="noopener noreferrer">
                    <img src="https://itsjafer.com/icons/linkedin.svg" alt="">
                </a>
                
                <a class="d-flex justify-content-start" href="https://www.catchafire.org/profiles/870514/" target="_blank" rel="noopener noreferrer">
                    <img style="margin-right: 0;" src="https://det2iec3jodwn.cloudfront.net/gen/images/responsive/logo/logo-flame-red.svg?v=1610491404638" alt="">
                </a>

                <a class="d-flex justify-content-start" href="https://medium.com/@jadessechan" target="_blank" rel="noopener noreferrer">
                    <img style="width: auto; height: 70px; margin-right: 7px;" src="http://logok.org/wp-content/uploads/2020/10/Medium-logo-2020-1536x1152.png" alt="">
                </a>

                <a class="d-flex justify-content-start" href="mailto:jdlychan@gmail.com" target="_blank" rel="noopener noreferrer">
                    <img src="https://itsjafer.com/icons/email.svg" alt="">
                </a>
            </div>
        </div>
        <p class="mt-4"> © 2021 Jadesse Chan</p>
    </footer>
       
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <!-- Bootstrap 4 JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    <!-- JS -->
    <script src="<%= globalJS %>" charset="utf-8"></script>

    </body>
</html>