<!DOCTYPE html>
    <html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-5B422L7BG0"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-5B422L7BG0');
        </script>

        <!-- Bootstrap 4.5.0 -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">
        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/956e39cea3.js" crossorigin="anonymous"></script>
        <!-- CSS -->
        <link rel="stylesheet" href="<%= globalCSS %>">

        <title><%= globalTitle %></title>

    </head>
    <body>
        
    <nav id="mainNavbar" class="navbar navbar-light navbar-expand-md fixed-top">
        <a class="navbar-brand smoothScroll" href="#First"><i src=""></i><span id="navHome">Jadesse Chan</span></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navLinks">
            <div id="navLinks" class="nav navbar-nav ml-auto navbar-right">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a id="aboutdrop" href="#Projects" class="nav-link smoothScroll">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a id="projectsDrop" href="#About" class="nav-link smoothScroll">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://drive.google.com/file/d/1D8LlpczHuSdhoVj--kGDOA1sCpJud7XQ/view?usp=sharing" class="nav-link" target="_blank" rel="noopener noreferrer">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a id="aboutdrop" href="#About" class="nav-link smoothScroll">Contact Me</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
