<%- include('partials/header') %>

<section id="header" class="container-fluid px-0">
    <div id="First">
        <div id="jumbotron" class="row align-items-center">
            <div class="col-md-5">
                <div class="d-none d-md-block mt-5">
                    <img id="avatar" class="align-items-center" src="https://i.ibb.co/wrvq7m2/avatar-2.png" alt="">
                    <!-- <div id="circle"></div> -->
                    <img class="shape" src="https://s3.us-east-2.amazonaws.com/ui.glass/shape.svg" alt="">
                </div>
            </div>
            <div class="col-md-7">
                <div class="shadow card" id="intro">
                    <h1>Welcome! <br>
                        I'm Jadesse Chan,
                    </h1>
                    <br>
                    <p> a <strong>Computer Science</strong> major and <strong>Creative Writing</strong> minor at <strong>Rhodes College</strong>.
                        I love <strong>front-end web development</strong> because I can combine my passions for art and CS. I thrive in small collaborative environments, 
                        so that I can build meaningful relationships with my mentors and peers.
                        <strong>Creativity</strong>, <strong>attentiveness</strong>, and <strong>dedication</strong> are some of my best traits and
                        I am <strong>always seeking to learn more!</strong>
                       </p>
                </div>
            </div>
        </div>
    </div>
        
    <!-- <div class="d-flex flex-column align-items-center">
        <div class="d-flex justify-content-center">
            <a id="toProjects" href="#Projects" type="button" class="btn .btn-outline-* btn-sm smoothScroll">Projects</a>
        </div>
        <div id="downArrow1" href="#Projects" type="button" class="d-flex justify-content-center smoothScroll">
            <span id="clickFontAwesome"><i class="fas fa-chevron-down"></i></span>
        </div>
       </div>
    </div> -->
</section>

<!-- PROJECTS -->
<section class="Projets">
    <div id="Projects" class="container-fluid">
        <div class="row row-cols-1 row-cols-md-3 mt-5">
            <div class="col mb-4">
              <div class="card h-100 shadow">
                <div class="card-body">
                    <h5 class="card-title">💬 Text Prediction</h5>
                    <p class="card-text">A trigram language model using NLTK to predict the next word of a phrase</p>
                    <a href="https://github.com/jadessechan/Text-Prediction" class="btn btn-outline-info mb-3 mr-2">Code
                        <img src="https://itsjafer.com/icons/github.svg" alt="" id="link">
                    </a>
                    <a href="#" class="btn btn-outline-info mb-3 mr-2">Blog
                        <img style="width: auto; height: 1.5rem" src="http://logok.org/wp-content/uploads/2020/10/Medium-logo-2020-1536x1152.png" id="link">
                    </a>
                  </div>
              </div>
            </div>

            <div class="col mb-4">
              <div class="card h-100 shadow">
                <div class="card-body">
                    <h5 class="card-title">🎬 Sentiment Analysis</h5>
                    <p class="card-text">Predicts movie review sentiments using Naive Bayes and Laplace Smoothing</p>
                    <a href="https://github.com/jadessechan/Sentiment-Analysis" class="btn btn-outline-info mb-3 mr-2">Code
                        <img src="https://itsjafer.com/icons/github.svg" alt="" id="link">
                    </a>
                    <a href="#" class="btn btn-outline-info mb-3 mr-2">Blog
                        <img style="width: auto; height: 1.5rem" src="http://logok.org/wp-content/uploads/2020/10/Medium-logo-2020-1536x1152.png" id="link">

                    </a>
                  </div>
                </div>
            </div>

            <div class="col mb-4">
              <div class="card h-100 shadow">
                <div class="card-body">
                    <h5 class="card-title">⛺️ YelpCamp</h5>
                    <p class="card-text">Full-stack web app to review and rate campgrounds usin a MEN stack </p>
                    <a href="https://github.com/jadessechan/YelpCamp" class="btn btn-outline-info mb-3 mr-2">Code
                        <img src="https://itsjafer.com/icons/github.svg" alt="" id="link">
                    </a>
                  </div>
            </div>
          </div>

        <!-- <div class="d-flex flex-column justify-content-center align-items-center col-12">
            <div class="d-flex justify-content-center">
                <a id="toProjects" href="#About" type="button" class="btn .btn-outline-* btn-sm smoothScroll">About</a>
            </div>
            <div id="downArrow1" href="#About" type="button" class="d-flex justify-content-center smoothScroll">
                <span id="clickFontAwesome"><i class="fas fa-chevron-down"></i></span>
            </div>
        </div> -->
        
        </div>   
    </div>
</section>


<!-- ABOUT -->
<section class="About">
    <div id="About" class="container-fluid">
        <div class="row">
            <p id="textInfo">
                When I'm not coding, you can find me...
                <ul>
                    <li>🗺 Exploring art museums</li>
                    <li>🎞 Shooting film photography </li>
                    <li>🎧 Listing to Business of Fashion podcasts</li>
                    <li>🧘🏻‍♀️ Meditating</li>
                </ul>
            </p>
        </div>
    </div>
</section>

<%- include('partials/footer') %>
