<%- include('partials/header') %>

<section id="header" class="container-fluid px-0">
    <div id="First">
        <div id="jumbotron" class="row align-items-center">
            <div class="col-md-5">
                <div class="d-none d-md-block mt-5">
                    <img id="avatar" class="img-fluid" src="https://i.ibb.co/8MZJRwG/Group-5.png" alt="">
                </div>
            </div>
            <div id="intro" class="col-md-7">
                <div class="card">
                    <h1>Welcome! <br>
                        I'm Jadesse Chan,
                    </h1>
                    <br>
                    <p> a <strong>Computer Science</strong> major with a <strong>Creative Writing</strong> minor at <strong>Rhodes College</strong>.
                        I love <strong>front-end web development</strong> because I can combine my passions for art and CS. I thrive in small collaborative environments, 
                        so that I can build meaningful relationships with my mentors and peers.
                        <strong>Creativity</strong>, <strong>attentiveness</strong>, and <strong>dedication</strong> are some of my best traits and
                        I am <strong>always seeking to learn more!</strong>
                       </p>
                </div>
            </div>
        </div>
    </div>
        
        <div class="d-flex flex-column align-items-center">
            <div class="d-flex justify-content-center">
                <a id="toProjects" href="#Projects" type="button" class="btn .btn-outline-* btn-sm smoothScroll">Projects</a>
            </div>
            <div id="downArrow1" href="#Projects" type="button" class="d-flex justify-content-center smoothScroll">
                <span id="clickFontAwesome"><i class="fas fa-chevron-down"></i></span>
            </div>
        </div>
    </div>
</section>

<!-- PROJECTS -->
<section class="Projets">
    <div id="Projects" class="container-fluid">
        <h1 id="pg2" class="mb-5">Projects</h1>
        <div class="row justify-content-center">
            <!-- Text Prediction -->
            <div class="col-6-md d-flex">
                <a class="projImg" href="https://github.com/jadessechan/Text-Prediction" target="_blank" rel="noopener noreferrer">
                    <h4>💬 Text Prediction</h4>
                    <div>
                        A trigram language model using NLTK to predict the next word of a phrase
                    </div>
                </a>
            </div> 
            <!-- Sentiment Analysis -->
            <div id="notTheBottom" class="col-6-md d-flex">
                <a class="projImg" href="https://github.com/jadessechan/Sentiment-Analysis" target="_blank" rel="noopener noreferrer">
                    <h4>🎬 Sentiment Analysis</h4>
                    <div>
                        Predicts movie review sentiments using Naive Bayes and Laplace Smoothing
                    </div>
                </a>
            </div>
            <!-- YELPCAMP -->
            <div class="col-6-md d-flex">
                <a class="projImg" href="https://github.com/jadessechan/YelpCamp" target="_blank" rel="noopener noreferrer">
                    <h4>⛺️ YelpCamp</h4>
                    <div>
                        Dynamic web app using a MEN stack and Bootstrap 
                    </div>
                </a>
            </div>
             
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center col-12">
            <div class="d-flex justify-content-center">
                <a id="toAbout" href="#About" type="button" class="btn .btn-outline-* btn-sm smoothScroll">About</a>
            </div>
            <div id="downArrow2" href="#About" type="button" class="d-flex justify-content-center smoothScroll">
                <span id="clickFontAwesome"><i class="fas fa-chevron-down"></i></span>
            </div>
        </div>
        
           
    </div>
</section>


<!-- ABOUT -->
<section class="About">
    <div id="About" class="container-fluid">
        <h1 id="pg3">About</h1>
        <div class="row">
            <p id="textInfo">
                When I'm not coding, you can find me...
                <ul>
                    <li>🗺 Exploring art museums</li>
                    <li>🎞 Shooting film photography </li>
                    <li>🎧 Listing to Business of Fashion podcasts</li>
                    <li>🧘🏻‍♀️ Meditating</li>
                </ul>
            </p>
            <div class="container-fluid">
                <div class="row row-cols-4 d-flex justify-content-center">
                    <div class="col">
                        <figure class="figure">
                            <!-- <img id="aboutImg" src="https://i.imgur.com/kD1Y1Ln.png" title="source: imgur.com" class="figure-img img-fluid" /> -->
                        </figure>
                    </div>

                    <div class="col">
                        <figure class="figure">
                            <!-- <img id="aboutImg" src="https://i.imgur.com/0ziUylR.png" title="source: imgur.com" class="figure-img img-fluid" /> -->
                        </figure>
                    </div>

                    <div class="col">
                        <figure class="figure">
                            <!-- <img id="aboutImg" src="https://i.imgur.com/rEZvgOJ.png" title="source: imgur.com" class="figure-img img-fluid" /> -->
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') %>
