<%- include('partials/header') %>

<section id="header">
    <div id="First" class="container-fluid">
        <div id="jumbotron" class="row justify-content-center align-items-center">
            <div class="col-5">
                <img id="avatar" src="https://i.ibb.co/8MZJRwG/Group-5.png" alt="">
            </div>
            <div id="intro" class="col-7">
                <h1>Welcome! <br>
                    I'm Jadesse Chan,
                </h1>
                <p>a <strong>Comuputer Science</strong> major with a plan to minor in <strong>English</strong> at <strong>Rhodes College</strong>.
                    I am passionate about the intersection of <strong>fashion and technology</strong> and aspire
                    to lead the fashion industry toward <strong>sustainability</strong>. I specialize in <strong>front-end web development</strong>
                    because I can unite my love for art/design with CS. I thrive in small collaborative environments, so that I can
                    build meaningful relationships with my mentors and peers.
                    <strong>Creativity</strong>, <strong>attentiveness</strong>, and <strong>dedication</strong> are some of my strongest skills and
                    I am <strong>always seeking to learn more!</strong>
                   </p>
            </div>
        </div>


        <div class="d-flex flex-column justify-content-center align-items-center col-12">
            <div class="d-flex justify-content-center">
                <a id="toProjects" href="#Projects" type="button" class="btn .btn-outline-* btn-sm smoothScroll">Projects</a>
            </div>
            <div id="downArrow1" href="#Projects" type="button" class="d-flex justify-content-center smoothScroll">
                <span id="clickFontAwesome"><i class="fas fa-chevron-down"></i></span>
            </div>
        </div>
    </div>
</section>

<section class="Projets">
    <div id="Projects" class="container-fluid">
        <h1 id="pg2" class="mb-4">Projects</h1>
        <div class="row">
            <div class="col-6 d-flex justify-content-center">
                <a href="/yelpcamp">
                    <img class="projImg" src="https://i.imgur.com/TqvTnHp.png" title="source: imgur.com" name="YelpCamp" type="button" >
                </a>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <a href="/neuralnetwork">
                    <img class="projImg" src="https://i.imgur.com/8STZwV6.png" title="source: imgur.com" name="NeuralNetwork" type="button" >
                </a>
            </div>
<!--            <div class="col-4 justify-content-center d-flex">-->
<!--                <img class="rect" src="imgs/Rectangle 16.png">-->
<!--            </div>-->
        </div>

<!--        <div class="projpage">-->
<!--            <a href="projects.ejs" class="float-right">View All</a>-->
<!--        </div>-->

        <div class="d-flex flex-column justify-content-center align-items-center col-12">
            <div class="d-flex justify-content-center">
                <a id="toAbout" href="#About" type="button" class="btn .btn-outline-* btn-sm smoothScroll">About</a>
            </div>
            <div id="downArrow2" href="#About" type="button" class="d-flex justify-content-center smoothScroll">
                <span id="clickFontAwesome"><i class="fas fa-chevron-down"></i></span>
            </div>
        </div>
    </div>
</section>

<section class="About">
    <div id="About" class="container-fluid">
        <h1 id="pg3">About</h1>
        <div class="row">
            <p id="textInfo">
                When I'm not coding, I enjoy listening to the Business Of Fashion podcasts, reading Architectural Digest
                and Robinhood Snacks, and immersing myself in the arts. I love visiting museums and creating art of my own,
                from film photography to graphic design to drawing!
                <br>
                At school, you can find me researching environmental impacts on birds, serving as graphic design chair and
                dancing with Rhodes College Dance Company, and volunteering as Tea Club representative for the All
                Students Interested In Asia club.
            </p>
            <div class="container-fluid">
                <div class="row row-cols-4 d-flex justify-content-center">
                    <div class="col">
                        <figure class="figure">
                            <img id="aboutImg" src="https://i.imgur.com/kD1Y1Ln.png" title="source: imgur.com" class="figure-img img-fluid" />
                        </figure>
                    </div>

                    <div class="col">
                        <figure class="figure">
                            <img id="aboutImg" src="https://i.imgur.com/0ziUylR.png" title="source: imgur.com" class="figure-img img-fluid" />
                        </figure>
                    </div>

                    <div class="col">
                        <figure class="figure">
                            <img id="aboutImg" src="https://i.imgur.com/rEZvgOJ.png" title="source: imgur.com" class="figure-img img-fluid" />
                        </figure>
                    </div>
                </div>
            </div>
        </div>
<!--            <div class="col-6">-->
<!--                <p>-->
<!--                    When I'm not coding, I enjoy listening to the Business Of Fashion podcasts, reading Architectural Digest and-->
<!--                    Robinhood Snacks, and immersing myself in the arts. I love visiting museums and creating art of my own, from-->
<!--                    film photography to graphic design to drawing!-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="col-3">-->
<!--                <figure class="figure">-->
<!--                        <img id="aboutImg" src="https://i.imgur.com/kD1Y1Ln.png" title="source: imgur.com" class="figure-img img-fluid rounded" />-->
<!--                    <figcaption class="figure-caption">With The Thinker at the Legion of Honor Museum in San Francisco</figcaption>-->
<!--                </figure>-->

<!--            </div>-->
<!--            <div class="col-3">-->
<!--                <figure class="figure">-->
<!--                        <img id="aboutImg" src="https://i.imgur.com/0ziUylR.png" title="source: imgur.com" class="figure-img img-fluid rounded" />-->
<!--                    <figcaption class="figure-caption">Caught a Cardinal during a field study for my undergraduate research</figcaption>-->
<!--                </figure>-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--                <p>-->
<!--                    At school, you can find me researching environmental impacts on birds, serving as graphic design chair and-->
<!--                    dancing with Rhodes College Dance Company, and volunteering as Tea Club-->
<!--                    representative for the All Students Interested In Asia club.-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="col-3">-->
<!--                <figure class="figure">-->
<!--                        <img id="aboutImg" src="https://i.imgur.com/rEZvgOJ.png" title="source: imgur.com" class="figure-img img-fluid rounded" />-->
<!--                    <figcaption class="figure-caption">Promoted Tea Club at the SACK Fair</figcaption>-->
<!--                </figure>-->
<!--            </div>-->
<!--           <div class="col-3">col</div>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
    </div>
</section>

<%- include('partials/footer') %>
