html, body {
    /*width: 100%;*/
    /*margin: 0;*/
    /*padding: 0;*/
    overflow-x: hidden;
    /*background-color: #FFCC9E;*/
}

#mainNavbar {
    background-color: white;
    padding: 1rem 1rem;
}

.navbar.scrolled {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    z-index: 99;
    transition: 400ms;
}

.coverimg {
    margin-top: 10vh;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    z-index: 98;
    position: relative;
}

#banner {
    background-color: #9CDCED;
}

#footer {
    background-color: #FEE7ED;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}


.CaroselImg img {
    padding-top: 12.5vh;
    padding-right: 10vw;
    padding-left: 10vw;
    width: auto !important;
    height: 75vh;
    max-height: 75vh;
}

.intro {
    margin-top: 6vh;
}

h1 {
    font-size: 3rem;
}

hr {
    border-top: 1px solid gray;
    margin-top: 7vh;
    margin-bottom: 10vh;
}

body {
    /*margin: 4vh 10vw 10vw;*/
    /*padding: 0 5vw 5vw;*/
    font-size: large;
}

p {
    margin-top: 4.5vh;
    padding-bottom: 3vh;
}