html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(to right, #ffdde1, #ee9ca7);

}

#mainNavbar {
    background-color: rgba(255,255,255, 0.5);
    backdrop-filter: blur(7px);
    padding: 1rem 1rem;
}

.navbar.scrolled {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    z-index: 99;
    transition: 400ms;
}


/* HOME */
#header {
    height: 100vh;

}
#First {
    padding-top: 15vh;
    margin: 0;
    padding-right: 5vw;
    padding-left: 5vw;
}

#circle {
    /* height: 300px;
    width: 300px;
    background-color: #9CDCED;
    border-radius: 50%;
    position: relative;
    bottom: 15rem;
    left: 25rem;
    z-index: 1; */
}

.shape {
    position: absolute;
    width: 250px;
    bottom: 15rem;
    left: 20rem;

}

#avatar {
    /* position: absolute; */
    /* width: 90%; */
    /* max-width: 100%;
    height: auto;
    margin: 1.66%; */
    width: 87%;
    float: right;
    margin: 1.66%;
    position: relative;
    z-index: 2;
}

#intro {
    background: rgba(255, 255, 255, .7);
	backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.1rem;
    line-height: 1.7;
    z-index: 3;
}

.card {
    background: rgba(255, 255, 255, .7);
	backdrop-filter: blur(10px);
    border: none;
    border-radius: 1rem;
    line-height: 1.7;

}


#toProjects:hover {
    background-color:rgba(255,255,255, 0.5) !important;
    outline-color: rgba(255,255,255, 0.5) !important;
    box-shadow: none;
}

#toProjects.hovered {
    background-color: rgba(255,255,255, 0.5) !important;
    outline-color: rgba(255,255,255, 0.5) !important;
    color: black;
    box-shadow: none;
}

#toProjects:focus {
    box-shadow: none;
}

#downArrow1 {
    color: white;
    height: 7px;
    width: fit-content;
}

#downArrow1.hovered {
    color: rgba(255,255,255, 0.5) !important;
    font-size: 1rem;
}

.fa-chevron-down {
    font-size: 2rem;
}

/* PROJECTS */
#Projects {
    height: 100vh;
    padding: 15vh 5em 5vh 5em;
}

#link {
    width: 1.5em;
    margin-left: 5px;
}


/* About */
.About {
    height: 70vh;
    padding: 15vh 5em 5vh 5em;
}

#textInfo {
    line-height: 1.7;
    margin-top: 4vh;
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 18px;
}

#aboutImg {
    height: 100%;
    width: 70%;
}

footer {
    /* background-color: #FFCC9E; */
    /* background-color: white; */
    padding: 5vh 3em 5vh 1em;
}

    footer img {
        width: 2em;
        margin-right: 20px;
    }

    
